.section-content{
  text-align: center; 
}

.contact-section{
  padding-top: 20px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}

body{
  overflow-y: visible;
}